.container-fluid {
  margin-right: -13px;
  margin-left: -13px;
}
.bg-dark {
  height: 200%;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.25rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item {
  border: none;
}
.content-header {
  margin-top: 10px;
  margin-left: 20px;
}
.card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-primary:not(.card-outline) > .card-header {
  background-color: #007bff;
  color: #fff;
}

.card-primary {
  margin-top: 20px;
  margin: 10px;
}
.form-group {
  margin-top: 10px;
}
.form-check-label {
  margin-bottom: 0;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.form-check {
  margin-top: 0px;
}

.fa-search {
  content: "\f002";
  margin-top: 0.25rem;
  /* margin-right: 0.25rem; */
  padding: 10px;
  color: white;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa,
.fas {
  font-weight: 900;
}
.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.float-sm-right {
  float: right !important;
}

.content-header .breadcrumb {
  background-color: transparent;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.25rem;
}
.card-success:not(.card-outline) > .card-header,
.card-success:not(.card-outline) > .card-header a {
  color: #fff;
}
.card-success:not(.card-outline) > .card-header {
  background-color: #28a745;
}
.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 8px;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: -10px;
}
.row {
  display: flex;

  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
}
.card-success {
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-headers {
  background-color: red;
  padding: 1%;
  border-radius: 0.3rem;
}
.input-group {
  position: relative;
  align-items: stretch;
  width: 100%;
}
.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  overflow: hidden;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: none;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.25rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
.input-group-append {
  margin-left: -1px;
  display: flex;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "upload";
}
.card-title {
  padding: 8px;
}
